/* .profile img:hover img {
  border: 15px solid white;
}
.profile {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  align-items: center;
  height: 68vh;
  overflow: hidden;
}
.profile img {
  margin: 15px;
  width: 200px;
  width: 200px;
  border-radius: 20px;
}
.profile h1 {
  text-align: center;
} */
